%center Hey! You have just made an orders!
%br/
%p If you want to confirm this orders tap
#{link_to(I18n.t('mailers.facebook.here'), confirm_order_url(@order, token: @order.confirmation_token))}.
%br/
%center= t('mailers.facebook.bye')


