.w-20 {
  width: 20%;
}

.centered {
  margin: 0 auto;
}

.no-link:hover, .no-link:active, .no-link:visited {
  text-decoration: none;
}
.mg-r-20 {
  margin-right: 20px;
}
.inline-block {
  display:inline-block;
}
.transparent {
  background-color: transparent;
}
img {
  max-width: 100%;
}
.min-height-1000 {
  min-height: 550px;
}
.col-pic {
  width: 11.5%;
}
.col-title {
  width: 29.5%;
}
.col-price {
  width: 17.5%;
}
.col-quantity {
  width: 17.5%;
}
.col-total {
  width: 14%;
}
.col-close {
  width: 10%;
}
.col-method {
  width: 40%;
}
.col-half {
  width: 50%;
}
.general-main-wrap {
  margin-bottom: 60px;
}
.general-container-xs {
  padding-right: 10px;
  padding-left: 10px;
}
.general-img-wrap {
  max-width: 175px;
  padding-top: 70px;
  margin: 0 auto 70px;
}
.general-align {
  text-align: center;
}
.general-thumb-wrap {
  max-width: 270px;
  margin: 0 auto;
}
.general-thumbnail {
  padding: 70% 0;
}
.general-thumbnail .general-thumbnail-img {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.general-thumb-link-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.general-nav-mail {
  font-size: 12px;
  color: gold;
  text-align: center;
  margin-bottom: 15px;
}
.general-nav-number {
  font-size: 12px;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
.general-badge {
  position: absolute;
  top: -4px;
  left: 100%;
}
.general-title-margin {
  margin-top: 0;
  margin-bottom: 35px;
}
.general-thumb-info {
  margin-bottom: 35px;
}
.general-info-wrap {
  padding-top: 20px;
}
.general-back-link {
  font-size: 18px;
  color: grey;
  display: inline-block;
  margin-bottom: 30px;
  &:hover,
  &:focus {
    color: grey;
  }
}
.general-position {
  margin-top: 10px;
  margin-bottom: 30px;
}
.general-img-wrap-table {
  max-width: 140px;
  margin: 0 auto 25px;
}
.general-cart-item {
  padding-top: 30px;
  padding-bottom: 5px;
}
.general-cart-close {
  font-size: 28px;
  transform: translateY(-50%);
}
.general-summary-table {
  width: 100%;
  max-width: 200px;
  text-align: left;
  margin: 0 auto 50px;
}
.general-text-align {
  text-align: center;
}
.general-order-wrap {
  padding-top: 15px;
}
.general-input-group {
  margin-bottom: 35px;
}
.general-subtitle {
  color: gold;
  font-weight: 400;
}
.general-info-text {
  font-size: 18px;
  color: grey;
  font-weight: 300;
}
.general-form-help {
  font-size: 18px;
  color: grey;
  position: absolute;
  top: 35px;
  right: 8px;
  cursor: pointer;
}
.general-address {
  font-size: 16px;
  color: grey;
  font-weight: 300;
  line-height: 2;
}
.general-edit {
  font-size: 13px;
  color: grey;
}
.general-order-number {
  font-size: 18px;
  color: gold;
  font-weight: 600;
}
.general-sign-text {
  color: grey;
  font-weight: 300;
}
.general-login-title {
  font-size: 18px;
  color: grey;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}
.general-login-icon {
  font-size: 24px;
  color: grey;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}
.general-login-text {
  color: grey;
  font-weight: 300;
  margin-bottom: 25px;
}
.general-form{
  max-width: 370px;
  margin: 0 auto 20px;
}
.general-password-text {
  font-size: 16px;
  color: grey;
  font-weight: 300;
  margin: 0 20px 25px;
}
.general-settings-btn {
  text-align: center;
}
.general-order-number {
  font-size: 16px;
  color: gold;
  font-weight: 300;
}
.general-message-wrap {
  padding: 30px 0 25px;
}
.general-message-verified {
  font-size: 12px;
  color: grey;
  line-height: 21px;
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
.general-message-name {
  font-size: 18px;
  color: gold;
  margin-bottom: 10px;
}
.general-message-date {
  font-size: 18px;
  color: grey;
  float: right;
}
.general-review-wrap {
  padding-bottom: 20px;
}
.general-w-50{
  width:50%;
  min-width:400px;
}

.input-link:hover{
  color:black;
  cursor: pointer;
}

.form-group {
  min-height: 70px;
}

.field_with_errors {
  color: red !important;
    & div.input:focus {
      border: 1px solid #ff0000 !important;
    }
}

.checkbox-label {
  cursor: default !important;
  & .checkbox-icon {
    cursor:pointer;
  }
}

.star-cb-group {
  font-size: 0;
  * {
    font-size: 4rem;
  }
  unicode-bidi: bidi-override;
  direction: rtl;
  & > input {
    display: none;
    & + label {
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: 'F';
        color: grey;
      }
    }
    &:checked ~ label:before,
    & + label:hover ~ label:before,
    & + label:hover:before {
      content: 'A';
      color: #c59c71;
      text-shadow: 0 0 1px #333;
    }
  }

  & > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  & > .star-cb-clear + label:before {
    width: .5em;
  }

  &:hover > input + label:before {
    content: 'F';
    color: grey;
    text-shadow: none;
  }
  &:hover > input + label:hover ~ label:before,
  &:hover > input + label:hover:before {
    content: 'A';
    color: whitesmoke;
    text-shadow: 0 0 1px #333;
  }
}

#log {
  margin: 1em auto;
  width: 5em;
  text-align: center;
  background: transparent;
}
