#slider.carousel.slide{'data-ride': 'carousel'}
  %ol.carousel-indicators
    %li.active{'data-target': '#slider', 'data-slide-to': '0'}
    - (1...@newest_books.count).each do |key|
      %li{'data-target': '#slider', 'data-slide-to': key.to_s}
  .carousel-inner{role: 'listbox'}
    - @newest_books.each_with_index do |book, key|
      - if key == 0
        .item.active
          = render 'home/slider_item', book: book
      - else
        .item
          = render 'home/slider_item', book: book
  %a.left.carousel-control{href: '#slider', role: 'button', 'data-slide': 'prev'}
    %span.icon-prev{'aria-hidden': 'true'}
    %span.sr-only= t('categories.previous')
  %a.right.carousel-control{href: '#slider', role: 'button', 'data-slide': 'next'}
    %span.icon-next{'aria-hidden': 'true'}
    %span.sr-only= t('categories.next')