#privacy.tab-pane.fade{role: 'tabpanel'}
  .row.mb-60
    = render 'users/registrations/privacy/email'
    = render 'users/registrations/privacy/password'
    = render 'users/registrations/privacy/destroy'
